*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    background-color: rgb(183, 238, 238);
}

p{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}

ul{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
}

.conteudo{
    margin-top: 40px;
    width: 20%;
}

.topo{
    font-size: 20px;
}

button{

    background: transparent;
    border: black;
    cursor: pointer;
    outline: none;
}
#inputNewTarefa{
    margin-top: 5px;

    height: 20px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 90%;
}


#btnAddTarefa{
    margin-left: 5%;
    width: 30px;
    height: 30px;
    background-color: rgb(138, 81, 230);
    border-radius: 20%;

    color: aliceblue;
}
.inserirNovaTarfa{
    background-color: grey;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 5px;
}

.divdados{
    margin-top: 5px;
    padding: 10px;
    background: lightgrey;
    border-radius: 8px;
    box-shadow: 6px 5px 10px 0px aliceblue;
    display: flex;
    align-items: center;
}
.divdados span{
    width: 70%;
    color: dimgray;
}
.divdados button{
    margin-left: 3%;
    width: 30px;
    height: 32px;
    background-color: rgb(138, 81, 230);
    border-radius: 20%;
    padding: 2px;
    color: aliceblue;
    border: 1px;
}

 li{
    list-style-type: none;
 }